{"adux1050_1.custom.config":{"owner":"sns_adux1050","version":{"type":"flt","ver":"4","data":"4.000000"},"reg_06":{"type":"flt","ver":"4","data":"14342.000000"},"reg_09":{"type":"flt","ver":"4","data":"51967.000000"},"reg_0A":{"type":"flt","ver":"4","data":"3328.000000"},"reg_79":{"type":"flt","ver":"4","data":"9389.000000"}}}